<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Myled</title>
</head>
<body>

<div id="container">
    <div><span>Myled<br />Analytics</span></div>
</div>


<div id="central-div">
    <div><span>K Nearest Neighbour Algorithm.</span></div>
</div>

<div id="body"><span>
    <br><br>
    The K Nearest Neighbour Algorithm can be used to solve both classification and regression problems.
    It relies on a subset of data being labelled in order to come to a consensus as to what the remaining unlabelled data could potentially be classified as.
    This kind of solution is also known as a supervised machine learning algorithm.
    <br><br>
    Here, we are going to see KNN being used to solve a classification problem. The solution will be a python application that takes as input a CSV and produces a "results.csv" file.
    <br><br>
    We have a collection of 1200 host PC's and all we are given, is a snapshot of processor and memory consumption across the hosts.
    Some hosts have already been identified as uninfected (Normal) and others, infected (Infected). It is hoped that using KNN, we can identify a list of potentially infected hosts.
    <br><br>
    <!-- INSERT Javascript scatter graph -->

</span>
</div>



</body>
</html>